.diseases {
	// min-height: 100vh;
	// min-width: 100vh;

	.diseases-cards {
		display: flow-root;
		justify-content: center;
		flex-wrap: wrap;
		gap: 0px;
		display: flex;
		flex-direction: column;
	}
}
 
.RedTask {
	flex-basis: 10px;
	border-radius: 2px;
	width: 7vh;
	padding: 1px;
	padding-bottom: 2px;
	background-color: red;
}
.YellowTask {
	flex-basis: 10px;
	border-radius: 2px;
	width: 7vh;
	padding: 1px;
	padding-bottom: 2px;
	background-color: yellow;
}
.blueTask {
	flex-basis: 10px;
	border-radius: 2px;
	width: 7vh;
	padding: 1px;
	padding-bottom: 2px;
	background-color: #049EB8;
}
.greyTask {
	flex-basis: 10px;
	border-radius: 2px;
	width: 7vh;
	padding: 1px;
	padding-bottom: 2px;
	background-color: grey;
}

.greenTask {
	flex-basis: 10px;
	border-radius: 2px;
	width: 7vh;
	padding: 1px;
	padding-bottom: 2px;
	background-color: green;
}
 
