@import "../../../Components/Common/Styles/styles";

.graphs_page {
    display: grid;
    place-items: center;
    row-gap: 1vw;
    width: 100%;
    column-gap: 1vw;
    grid-template-columns: 25vw 35vw;
    grid-template-rows: auto auto auto;

    // border: white dotted 1.5px;
    
    .new_patents {
        display: grid;
        place-items: center;
        width: 100%;
        grid-template-rows: auto auto;
        
        .heading {
            font-size: 1vw;
            font-weight: 600;
            margin-bottom: 0.5vw;
            justify-self: start;
        }
        
        .view_patients {
            display: grid;
            place-content: center;
            width: 100%;
            gap: 2vw;
            grid-template-columns: auto auto;
            @extend .cards_style;
            
            .patients_avatars {
                display: grid;
                place-content: center;
                grid-template-columns: auto auto auto auto auto;
                
                $avatar-colors: (#254B6F #239C2C #6C1977 #05AACD);
                
                @for $i from 1 through 4 {
                    .avatar_#{$i} {
                        background-color: nth($avatar-colors, $i);
                        
                        @if $i != 1 {
                            transform: translate(-$i * 0.3vw, 0);
                        }
                    }
                }
                
                .avatar_more {
                    color: black;
                    transform: translate(-1.6vw, 0);
                }
            }
        }
    }
    
    .patient_requests {
        display: grid;
        place-items: center;
        width: 100%;
        grid-template-rows: auto auto;
        
        .heading {
            font-size: 1vw;
            font-weight: 600;
            margin-bottom: 0.5vw;
            justify-self: start;
        }
        
        .patient_details {
            display: grid;
            grid-template-columns: auto auto auto auto;
            width: 100%;
            gap: 2vw;
            place-content: center;
            @extend .cards_style;
            
            p {
                padding: 0.8vw 1.2vw;
                border-radius: 0.5vw;
            }
            
            .level {
                background-color: #C62832;
            }
            
            .status {
                color: #1976d2;
            }
        }
    }
    
    .income {
        @extend .cards_style;
        display: grid;
        place-items: center;
        width: 20vw;
    }
    
    .appointment {
        @extend .cards_style;
    }
    
    .infographics {
        @extend .cards_style;
    }
    
    .calendar {
        @extend .cards_style;
        height: 18vw;
        width: 20vw;
    }
}