.appointments {
	// min-height: 100vh;
	// min-width: 100vh;

	.appointments-cards {
		display: flow-root;
		justify-content: center;
		flex-wrap: wrap;
		gap: 0px;
		display: flex;
		flex-direction: column;
	}
}
