.profile {
    display: grid;
    padding-left: 6vw;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;

    &_left {
        display: grid;
        width: 100%;
        height: 100%;
        // grid-template-rows: 1fr 1fr;
        
        .avatar {
        }
    }
}