.Navbar {
	display: grid;
	grid-template-columns: 7fr 3fr;
	place-items: space-between;
	width: 100%;
	color: #171F34;
	
	.Right {
		display: grid;
		width: 100%;
		grid-template-columns: 1fr 1fr 1fr;
	}
}