.research__top-content{
    text-align: center;
    margin-bottom: 100px;
}
.research__item {
    width: 25%;
    padding: 15px 25px;
    background: var(--card-bg);
    border-radius: .5rem;
    margin-top: 20px;
    cursor: pointer;
}

.research__item h3{
    color: whitesmoke;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: left;
}

.research_img{
    margin-bottom: 30px;
}
.research_img img {
    width: 100%;
}
.research_desc {
    font-size: 0.9rem;
    margin-bottom: 10px;
}
.learn__more i {
    font-size: 1.8rem;
    color: var( --primary-color);
    cursor: pointer;
}
.research__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



