@import './Components/Navbar/Navbar';
@import './pages/practitioner/profile/profile';
@import './pages/practitioner/Home/Home';
@import './pages/practitioner/GraphsPage/GraphsPage';
@import './pages/practitioner/Patients/PatientsTab';
@import './pages/practitioner/Appointments/RecentAppointments';
@import './pages/practitioner/Dashboard/Dashboard';
@import './pages/patient/profile/profile';
@import './pages/patient/Home/Home';
@import './pages/patient/GraphsPage/GraphsPage';
@import './pages/patient/Practitioners/PractitionersTab';
@import './pages/patient/Appointments/RecentAppointments';
@import './pages/patient/Dashboard/Dashboard';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}